body{

    /* content: ""; */
    background-image: url("https://pics.craiyon.com/2023-10-26/7ce97018ba5743f3ab110dda611f7e5b.webp");
   background-size: cover;
    opacity: 0.9;
    width: 100%;
    height: 600px;
    box-sizing: border-box;
    text-transform: capitalize;
}
.a-2 {
    /* display: block; */
    width: 100%;
    margin-top: 1rem;
    text-decoration: none;
}

.a-2 button {
    width: 100%;
}
